<!DOCTYPE html>
<html>
  <head>
    <title> Quizis </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link media='only screen and (min-width: 530px)' rel='stylesheet' href='/stylesheets/wide.css' />
	<link media='only screen and (max-width: 480px)' rel='stylesheet' href='/stylesheets/smartphone.css' />
  </head>
  <body>
  <div id='page-wrap'>
	<header>
		<h2> Quiz<span>: el juego de las preguntas</span></h2>
	</header>   
	<nav class='main' id='n1' role='navigation' > 
		<span> <a href='/' >Inicio </a>		</span>
		<span> <a href='/quizes'>Preguntas </a> </span>
		<span> <a href='/author'>Créditos </a> </span>
	</nav>
	<section class='main' id="s1">
		<%- body %>
	</section>
	<footer class='main' id='f1'>
		<a href='http://es.wikipedia.org/wiki/Quiz'>¿Que es un Quiz?</a>	
		<a href='https://github.com/ledufi/quiz/commits/master'>Página Proyecto </a>
	</footer>
  </div>
  </body>
</html>
