<!DOCTYPE html>
<html>
  <head>
    <title> Quiz </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form method="get" action="/quizes/answer">
		<h2> Quiz: el Juego de las preguntas</h2>
		<p> <%= pregunta %> </p>
		<input type='text' name='respuesta' value='responde aqui'/>
		<input type='submit' value='Enviar'/>
	</form>
  </body>
</html>
